main {
    display: grid;
    grid-template-columns: fit-content(0) 300px;
    place-content: center;
    gap: 1em;
}

h1 { text-align: center;}

canvas {
    image-rendering: pixelated;
    border: 1px solid black;
}

ui-grid {
    display: grid;
    grid-template-columns: 150px fit-content(0);
    align-items: center;
    gap: 0.5em;
    height: max-content;

    label { text-align: right; }
    label::after { content: ":"; }
    input { justify-self: start; }
    h3 { grid-column: 1 / -1;}
    ui-row { grid-column: 1 / -1; }
    button {
        grid-column: 1 / -1;
        width: fit-content;
    }
}