body { margin: 0 auto; padding: 0.5em; }

f-row, .row { display: flex; flex-direction: row; }
f-col, .col { display: flex; flex-direction: column; }
f-sp, .spacer { flex: 1; }

.gap-1 { gap: 0.5em; }
.gap-2 { gap: 1em; }

main {
    display: grid;
    grid-template-columns: fit-content(0) 300px;
    place-content: center;
    gap: 1em;
}

h1 { text-align: center;}

canvas {
    image-rendering: pixelated;
    border: 1px solid black;
}

ui-grid {
    display: grid;
    grid-template-columns: max-content fit-content(0);
    align-items: center;
    gap: 0.5em;
    height: max-content;

    label { text-align: right; }
    label::after { content: ":"; }
    h3 { grid-column: 1 / -1;}
}